section{
    text-align: left;
    background-color: #faebd6;
    height: 250px;
}
header{
    color: #ff0000;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 30px;
}
p{
    margin-bottom: 30px;
}
span.brazowy{
    color: #a42423;
}
span.paragraf2{
    color: #00008f;
}